<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>О нас</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ИГ</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, voluptas error? Repellendus consequuntur molestiae architecto sunt suscipit porro ipsum voluptas modi natus nisi? Perspiciatis nobis dignissimos ullam modi commodi in?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet quis consectetur. Modi incidunt veritatis illum ipsa, laboriosam, deleniti quibusdam mollitia quae facilis corrupti quas dicta hic doloribus saepe. Debitis, assumenda? Ad vero qui maiores? Sint vel molestias repellat tempora maxime facilis consectetur dolore hic quia est laudantium nostrum minus, delectus recusandae quas nihil odio eligendi soluta. Magni libero alias quia cupiditate odio molestias ipsa illum. Illo expedita assumenda molestias excepturi, quaerat aliquid, nulla ipsum eum corporis laborum, quidem autem accusamus. Ipsum enim, ducimus quae mollitia ut rerum sit delectus accusamus eligendi, error atque nisi ab! Tenetur expedita fugit suscipit.</p>
          </div>
          <div class=" w-100 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="https://images.pexels.com/photos/8519256/pexels-photo-8519256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Контакты для связи</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Телефон: +7 (999)999-99-99</p>
            <p>Почта: <a href="abllc@gmail.com">abc@mail.ru</a></p>
            <p>Скайп: abc.tg</p>
            <p>Телеграм: @absc</p>
          </div>
        </div>
      </div>
</body>
</html>