<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu">
                <ul class="menu touch">
                    <li><a href="/" class="logo">ИГ</a></li>
                    <li><a href="/store">Магазин</a></li>
                    <li><a href="/about">О нас</a></li>
                </ul>
                <span class="toggle">-</span>
            </label>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img class="w-100" src="https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg?cs=srgb&dl=pexels-eduardo-dutra-2115217.jpg&fm=jpg">
                </div>
                <div class="col-md-4">
                    <h1>Мы занимаемся...</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, et! Tenetur beatae libero alias autem ipsum aperiam modi minus aut enim inventore unde corporis nulla placeat temporibus in officiis consectetur necessitatibus error quae excepturi itaque quaerat, saepe atque et? Minima!
                    </p>

                </div>
            </div>
        </div>
    </main>
</body>
</html>